html,body{height:100%;}
body {
	overflow: hidden;
  }
/*Estilos de index*/
.clsNavig{
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	height: 10%;
	overflow:hidden;
}
.clsA{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-top: 0px;
	width: 70%;
	height: 85%;
	float: left;
}
.clsB{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-top: 0px;
	border-left: 0px;
	height: 85%;
	overflow:hidden;
}

.ocultar{
	display: none;
}

.clsOpc{
	background-color: lightblue;
	text-align: center;
	overflow:hidden;
	height: 10%;
}

.clsContenidoOpc{
	overflow:hidden;
	height: 50%;
}

.clsMargen{
	margin: 2%;
}