<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="static/js/jquery-3.4.1.js"></script>
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="static/css/estilos.css">
</head>

<body>
    <div class="clsNavig"> <h1>EL arbolito</h1></div>
    <div id="idDivGrafico" class="clsA">GRAFIQUITO
        
    </div>
    <div id="idDivLogin" class="clsB clsLogin">
        <div class="clsMargen">
            INICIAR SESION
            <br>
            Usuario: <input id="idIUsuario" type="text">
            <br>
            Contrasseña<input id="idIPasswrd" type="text">
            <br>
            <input type="button" id="idIBtnIniciar" value="Iniciar">
            <br>
            <br>
            Registrar Usuario
            <br>
            
            Usuario: <input id="idRUsuario" type="text">
            <br>
            contraseña: <input id="idRPasswrd" type="text">
            <br>
            DNI: <input id="idRDni" type="text">
            <br>
            nombre: <input id="idRNombre" type="text">
            <br>
            apellido: <input id="idRApellido" type="text">
            <br>
            saldo inicial: <input id="idRSaldoInicial" type="text">
            <br>
            <input type="button" id="idBtnRegistrar" value="Registrar">
        </div>
    </div>
    <div id="idDivOperar" class="clsA clsOperar ocultar">
        <div class="clsOpc" id="idOpcConsultar">
            Consultar
        </div>
        <div class="clsContenidoOpc" id="idContenidoConsultar">
            Consultar contenido
        </div>
        <div class="clsOpc" id="idOpcComprar">
            Comprar
        </div>
        <div class="ocultar clsContenidoOpc" id="idContenidoComprar">
            Seleccione la moneda que desea Comprar
            <select id="idSelCompraDivisas" class="clsSelDivisa">
                <option value="SOP">-Seleccione una opcion-</option>
                <option value="ARS">Pesos Argentinos</option>
            </select>
            <br>
            Seleccione la cantidad que desea Comprar
            <input id="inpCantidadAComprar" type="text">
            <br>
            <input id="idBtnComprarDivisas" type="button" value="Comprar">

        </div>
        <div class="clsOpc" id="idOpcVender">
            Vender
        </div>
        <div class="ocultar clsContenidoOpc" id="idContenidoVender">
            Vender contenido
        </div>
        <div class="clsOpc" id="idOpcDepositar">
            Depositar
        </div>
        <div class="ocultar clsContenidoOpc" id="idContenidoDepositar">
            Seleccione la moneda que desea depositar
            <select id="idSelDepositarDivisa" class="clsSelDivisa">
                <option value="SOP">-Seleccione una opcion-</option>
                <option value="ARS">Pesos Argentinos</option>
            </select>
            <br>
            Seleccione la cantidad que desea depositar
            <input type="text" id="idCantidadDepositarDivisa">
            <input type="button" id="idBotonDepositarDivisa" value="Depositar" onClick="depositar()">
        </div>
        <div class="clsOpc"  id="idOpcRetirar">
            Retirar
        </div>
        <div class="ocultar clsContenidoOpc" id="idContenidoRetirar">
            Seleccione la moneda que desea retirar
            <select id="idSelRetirarDivisa" class="clsSelDivisaUsuario">
                <option value="SOP">-Seleccione una opcion-</option>
                <option value="ARS">Pesos Argentinos</option>
            </select>
            <br>
            Seleccione la cantidad que desea retirar
            <input type="text" id="idCantidadRetirarDivisa">
            <input type="button" id="idBotonRetirarDivisa" value="Retirar">
        </div>
    </div>

    <div id="idDivDivisas" class="clsB clsDivisas ocultar">
        DIVISAS
    </div>
</body>
</html>